<nav class="navbar">
  <div class="navbar-content">
    <span class="navbar-brand">{{title}}</span>
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/create-spell" routerLinkActive="active">Create Spell</a></li>
      <li><a routerLink="/list-spells" routerLinkActive="active">Spell Library</a></li>
      <li><a routerLink="/active-spells" routerLinkActive="active">Active Spells</a></li>
      <li><a routerLink="/spell-books">Spell Books</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
